<h1 class="text-align: center">Posts</h1>
<div class="row">
    {{#each posts}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{#if user}}
                        {{{editIcon user.id ../user.id id}}}
                    {{/if}}
                </div>
                <div class="card-content center-align same-size ">
                    <h5>{{title}}</h5>
                    <p class="story-text">{{stripTags (truncate body 150)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}">
                        <a href="/posts/user/{{user.id}}">{{user.firstName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn blue" href="/posts/show/{{id}}">Details</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No Posts Found</p>
    {{/each}}
</div>